DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/amaktech?schema=public"
NEXT_PUBLIC_SUPABASE_URL="https://huettgyacvvmplunebzn.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_HIQfGXOrrtifAx_ycbCEwQ_oTl8MdM8"
SMTP_HOST=""
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASSWORD=""
CONTACT_TO_EMAIL=""
NEXT_PUBLIC_WHATSAPP_NUMBER="263716997735"
